.header {
  padding-top: 28px;
  padding-bottom: 30px;
  margin-bottom: 12px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.navbar-menu {
  margin-right: auto;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 25px;
}

.menu-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.telephone{
  margin-left: auto;
  font-family: RoundoR;
}

.logo{
  padding-left: 22px;
}

.knopka a{
  border-radius: 5px;
  background-color: #00E0FF;
  color: white;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: flex;
  height: 35px;
  width: 148px;
  padding: 0;
  margin: 0;
  margin-left: 47px;
  margin-right: 47px;
  margin-top: 10px;
}

.manga{
  padding-top: 20px;
  display: flex;
}

.search-panel {
  margin-top: 10px;
  height: 34px;
  width: 900px;
  background: #00E0FF;
  border-radius: 5px;
  display: flex;
  padding: 3px;
}

.search-input {
  flex-grow: 1;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
}

.search-button {
  background: #00E0FF ;
  border: none;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 17px;
  display: flex;
  align-items: center;
}

.ikonki img{
  width: 16px;
  height: 16px;
  padding-top: 20px;
  padding-left: 100px;

}

.ikonki span{
  text-decoration: none;
  display: inline-block;
}

.page-title{
  padding-left: 22px;
  font-family: RoundoM;
}

.page-content {
  display: grid;
  padding-left: 22px;
  justify-content: center;
}

.card-image {
  border-radius: 5px;
  width: 170px;
  height: 241px;
  object-fit: cover;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 20px;
  margin-right: 15px;
}

.card-title {
  font-size: 16px;
  line-height: 19px;
  margin-top: 12px;
  margin-bottom: 5px;
  color: #00E0FF;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-link {
  text-decoration: none;
}

.card-price {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  display: block;
}

.pokupka a{
  border-radius: 5px;
  background-color: #00E0FF;
  color: white;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: flex;
  height: 35px;
  width: 148px;
  padding: 0;
  margin: 0;
  margin-left: 47px;
  margin-right: 47px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.page-content2 {
  display: grid;
  padding-left: 22px;
  justify-content: center;
}

.cards2 {
  display: flex;
  flex-wrap: wrap;
}

.perexod a{
  background-color: #00E0FF;
  justify-content: center;
  text-decoration: none;
  border-radius: 10px;
  width: 21px;
  height: 21px;
  color: #ffffff;
  display: grid;
  margin-top: 10px;
}

.perexod ul{
  list-style-type: none;
  display: flex;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  margin-left: 82%;
}

body>footer {
  display: grid;
  padding: 60px 6vw 24px 6vw;
  background-color: #00E0FF;
}

footer header {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 3fr;
}

footer header ul {
  list-style-type: none;
  color: white;
}

footer span {
  font-weight: 400;
  font-size: 16px;
  color: white;
}

header hr {
 border-color: #ffffff;
}

footer footer ul {
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 24px;
  justify-items: end;
  list-style-type: none;
  justify-self: end;
  column-gap: 24px;
  list-style-type: none;
  margin-left: 1500px;
}

footer footer ul a img{
  height: 16px;
  width: 16px;
  color: #ffffff;
}

footer footer ul li{
  font-size: 16px;
}
